<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- https://segmentfault.com/a/1190000008315137 -->
	<!-- http://czj4451.iteye.com/blog/1984259 -->
	<!-- 全局控制台日志输出 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--
				格式说明:http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout
	      		日志输出格式：%d表示日期时间，%thread表示线程名，%-5level：级别从左显示5个字符宽度
	       		%logger{50} 表示logger名字最长50个字符，否则按照句点分割。 %msg：日志消息，%n是换行符
	       	-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 全局文件日志输出 -->
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <!-- 当前Log文件名 -->
	  <file>${catalina.base}/logs/meeqs.log</file>
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
	    	<!-- 每天的Log文件压缩备份为${catalina.base}/logs/meeqs.%d{yyyy-MM-dd}.log-->
	    	<fileNamePattern>${catalina.base}/logs/meeqs.%d{yyyy-MM-dd}.log</fileNamePattern>
	    	<!-- 超过30天的备份文件会被删除 -->
	    	<maxHistory>30</maxHistory> 
	  </rollingPolicy>
	  <encoder>
	      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger:%line] - %msg%n</pattern>
	  </encoder>
	</appender>  
	
	<!-- HTTP服务端接口请求日志输出 -->
	<appender name="httpAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <!-- 当前Log文件名 -->
	  <file>${catalina.base}/logs/meeqs.http.log</file>
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
	    	<!-- 每天的Log文件压缩备份为${catalina.base}/logs/meeqs.http.%d{yyyy-MM-dd}.log -->
	    	<fileNamePattern>${catalina.base}/logs/meeqs.http.%d{yyyy-MM-dd}.log</fileNamePattern>
	    	<!-- 超过30天的备份文件会被删除 -->
	    	<maxHistory>30</maxHistory> 
	  </rollingPolicy>
	  <encoder>
	      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger:%line] - %msg%n</pattern>
	  </encoder>
	</appender>
    
    
	<logger name="com.meronmee" level="INFO"/>
    <!-- 专用于HttpUtils的日志 -->
	<logger name="com.meronmee.core.common.util.HttpUtils" level="INFO" additivity="true">
	    <appender-ref ref="httpAppender" />  
	</logger>
	<!-- 设置常用组件日志级别 -->
	<logger name="org.springframework" level="ERROR"/>
		
	<!-- 配置mybatis只在控制台中输出sql
	 	 see:http://blog.csdn.net/wangnan537/article/details/50069697 -->
	<!--  
	<logger name="mybatis" level="DEBUG">
	  <appender-ref ref="stdout"/>
	</logger>
    -->

	<root level="INFO">
		<appender-ref ref="stdout"/>
		<appender-ref ref="logfile"/>
	</root>  
</configuration>
