
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="${base}/favicon.ico">
    <title>认证失败</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <style type="text/css">
    		body {
			  padding-top: 40px;
			  padding-bottom: 40px;
			  background-color: #eee;
			}
			h2 strong{
				color:red;
			}
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
     <div class="alert alert-warning" role="alert">请登录后再操作！&nbsp;<a href="../login.htm">点此登录<span id="timer">(3)</span></a></div>
    </div> <!-- /container -->
    
    <script src="${assets}/common/libs/jquery/jquery.slim.min.js"></script>
	<script type="text/javascript">
		var num = 3;
		var timerId = setInterval(function(){
			num--;
			$("#timer").text("("+num+")");
			if(num <= 0){
				clearInterval(timerId);
				window.location.replace("../login.htm");
			}
		}, 1000);
	</script>
  </body>
</html>
